html, body {
    font-family: JetBrains Mono, monospace;
    min-height: 100%;
    margin: 0;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.jump-table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.jump-table th,
.jump-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

#container {
   width: 100%;
   max-width: 700px;
   box-sizing: border-box;
   padding: 1rem;
}