<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>high jump tracker</title>

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <form action="/" method="post">
            <label>
                Feet: 
                <input type="text" name="feet"/>
            </label>
            <label>
                Inches: 
                <input type="text" name="inches"/>
            </label>
            <button type="submit">Submit</button>
        </form>

        <a href="{{url_for('stats')}}">

            <button type="button">click me son</button>
        </a>
        
        {% if meters is not none %}
            <p>Your inputted measurements are equal to {{ meters }} meters</p>

        {% endif %}
        
    </body>
</html>